<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hospitalType">
            <h2><span>Hospital Type</span> {{ hospitalType.id }}</h2>

            <hr>

            <tvg-alert-error></tvg-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ hospitalType.name }}</span>
                </dd>
                <dt><span>Desciption</span></dt>
                <dd>
                    <span>{{ hospitalType.desciption }}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{ hospitalType.deleted }}</span>
                </dd>
                <dt><span>Last Modified</span></dt>
                <dd>
                    <span>{{ hospitalType.lastModified }}</span>
                </dd>
                <dt><span>Last Modified By</span></dt>
                <dd>
                    <span>{{ hospitalType.lastModifiedBy }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hospital-type', hospitalType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
