<div>
    <h2 id="page-heading">
        <span>Bed Inventories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bed-inventory" [routerLink]="['/bed-inventory/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Bed Inventory
            </span>
        </button>
    </h2>

    <tvg-alert-error></tvg-alert-error>

    <tvg-alert></tvg-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bedInventories?.length === 0">
        <span>No bedInventories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bedInventories && bedInventories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bedCount"><span>Bed Count</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="occupied"><span>Occupied</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="onCylinder"><span>On Cylinder</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="onLMO"><span>On LMO</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="onConcentrators"><span>On Concentrators</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModified"><span>Last Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bedTypeName"><span>Bed Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hospitalName"><span>Hospital</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bedInventory of bedInventories ;trackBy: trackId">
                    <td><a [routerLink]="['/bed-inventory', bedInventory.id, 'view']">{{ bedInventory.id }}</a></td>
                    <td>{{ bedInventory.bedCount }}</td>
                    <td>{{ bedInventory.occupied }}</td>
                    <td>{{ bedInventory.onCylinder }}</td>
                    <td>{{ bedInventory.onLMO }}</td>
                    <td>{{ bedInventory.onConcentrators }}</td>
                    <td>{{ bedInventory.lastModified | date:'medium' }}</td>
                    <td>{{ bedInventory.lastModifiedBy }}</td>
                    <td>
                        <div *ngIf="bedInventory.bedTypeId">
                            <a [routerLink]="['/bed-type', bedInventory.bedTypeId , 'view']" >{{ bedInventory.bedTypeName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="bedInventory.hospitalId">
                            <a [routerLink]="['/hospital', bedInventory.hospitalId , 'view']" >{{ bedInventory.hospitalName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bed-inventory', bedInventory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bed-inventory', bedInventory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bedInventory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="bedInventories && bedInventories.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
