<div>
    <h2 id="page-heading">
        <span>Transactions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transactions" [routerLink]="['/transactions/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Transactions
            </span>
        </button>
    </h2>

    <tvg-alert-error></tvg-alert-error>

    <tvg-alert></tvg-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
        <span>No transactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transactions && transactions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stockReq"><span>Stock Req</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stockProvided"><span>Stock Provided</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comment"><span>Comment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModified"><span>Last Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="supplierName"><span>Supplier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inventoryId"><span>Inventory</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transactions of transactions ;trackBy: trackId">
                    <td><a [routerLink]="['/transactions', transactions.id, 'view']">{{ transactions.id }}</a></td>
                    <td>{{ transactions.stockReq }}</td>
                    <td>{{ transactions.stockProvided }}</td>
                    <td>{{ transactions.status }}</td>
                    <td>{{ transactions.comment }}</td>
                    <td>{{ transactions.lastModified | date:'medium' }}</td>
                    <td>{{ transactions.lastModifiedBy }}</td>
                    <td>
                        <div *ngIf="transactions.supplierId">
                            <a [routerLink]="['/supplier', transactions.supplierId , 'view']" >{{ transactions.supplierName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="transactions.inventoryId">
                            <a [routerLink]="['/inventory', transactions.inventoryId , 'view']" >{{ transactions.inventoryId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transactions', transactions.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transactions', transactions.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transactions)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="transactions && transactions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
