<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transactions">
            <h2><span>Transactions</span> {{ transactions.id }}</h2>

            <hr>

            <tvg-alert-error></tvg-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Stock Req</span></dt>
                <dd>
                    <span>{{ transactions.stockReq }}</span>
                </dd>
                <dt><span>Stock Provided</span></dt>
                <dd>
                    <span>{{ transactions.stockProvided }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ transactions.status }}</span>
                </dd>
                <dt><span>Comment</span></dt>
                <dd>
                    <span>{{ transactions.comment }}</span>
                </dd>
                <dt><span>Last Modified</span></dt>
                <dd>
                    <span>{{ transactions.lastModified }}</span>
                </dd>
                <dt><span>Last Modified By</span></dt>
                <dd>
                    <span>{{ transactions.lastModifiedBy }}</span>
                </dd>
                <dt><span>Supplier</span></dt>
                <dd>
                    <div *ngIf="transactions.supplierId">
                        <a [routerLink]="['/supplier', transactions.supplierId, 'view']">{{ transactions.supplierName }}</a>
                    </div>
                </dd>
                <dt><span>Inventory</span></dt>
                <dd>
                    <div *ngIf="transactions.inventoryId">
                        <a [routerLink]="['/inventory', transactions.inventoryId, 'view']">{{ transactions.inventoryId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transactions', transactions.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
