<div>
    <h2 id="page-heading">
        <span>Inventory Useds</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventory-used" [routerLink]="['/inventory-used/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Inventory Used
            </span>
        </button>
    </h2>

    <tvg-alert-error></tvg-alert-error>

    <tvg-alert></tvg-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="inventoryUseds?.length === 0">
        <span>No inventoryUseds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inventoryUseds && inventoryUseds.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stock"><span>Stock</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="capcity"><span>Capcity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comment"><span>Comment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModified"><span>Last Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inventoryId"><span>Inventory</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventoryUsed of inventoryUseds ;trackBy: trackId">
                    <td><a [routerLink]="['/inventory-used', inventoryUsed.id, 'view']">{{ inventoryUsed.id }}</a></td>
                    <td>{{ inventoryUsed.stock }}</td>
                    <td>{{ inventoryUsed.capcity }}</td>
                    <td>{{ inventoryUsed.comment }}</td>
                    <td>{{ inventoryUsed.lastModified | date:'medium' }}</td>
                    <td>{{ inventoryUsed.lastModifiedBy }}</td>
                    <td>
                        <div *ngIf="inventoryUsed.inventoryId">
                            <a [routerLink]="['/inventory', inventoryUsed.inventoryId , 'view']" >{{ inventoryUsed.inventoryId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/inventory-used', inventoryUsed.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/inventory-used', inventoryUsed.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inventoryUsed)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="inventoryUseds && inventoryUseds.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
