<div>
    <h2 id="page-heading">
        <span>Inventory Masters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventory-master" [routerLink]="['/inventory-master/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Inventory Master
            </span>
        </button>
    </h2>

    <tvg-alert-error></tvg-alert-error>

    <tvg-alert></tvg-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="inventoryMasters?.length === 0">
        <span>No inventoryMasters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inventoryMasters && inventoryMasters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="volume"><span>Volume</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unit"><span>Unit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="calulateVolume"><span>Calulate Volume</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dimensions"><span>Dimensions</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subTypeInd"><span>Sub Type Ind</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deleted"><span>Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModified"><span>Last Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inventoryTypeName"><span>Inventory Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventoryMaster of inventoryMasters ;trackBy: trackId">
                    <td><a [routerLink]="['/inventory-master', inventoryMaster.id, 'view']">{{ inventoryMaster.id }}</a></td>
                    <td>{{ inventoryMaster.name }}</td>
                    <td>{{ inventoryMaster.description }}</td>
                    <td>{{ inventoryMaster.volume }}</td>
                    <td>{{ inventoryMaster.unit }}</td>
                    <td>{{ inventoryMaster.calulateVolume }}</td>
                    <td>{{ inventoryMaster.dimensions }}</td>
                    <td>{{ inventoryMaster.subTypeInd }}</td>
                    <td>{{ inventoryMaster.deleted }}</td>
                    <td>{{ inventoryMaster.lastModified | date:'medium' }}</td>
                    <td>{{ inventoryMaster.lastModifiedBy }}</td>
                    <td>
                        <div *ngIf="inventoryMaster.inventoryTypeId">
                            <a [routerLink]="['/inventory-type', inventoryMaster.inventoryTypeId , 'view']" >{{ inventoryMaster.inventoryTypeName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/inventory-master', inventoryMaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/inventory-master', inventoryMaster.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inventoryMaster)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="inventoryMasters && inventoryMasters.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
