<div>
    <h2 id="page-heading">
        <span>Inventories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inventory" [routerLink]="['/inventory/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Inventory
            </span>
        </button>
    </h2>

    <tvg-alert-error></tvg-alert-error>

    <tvg-alert></tvg-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="inventories?.length === 0">
        <span>No inventories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inventories && inventories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stock"><span>Stock</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="capcity"><span>Capcity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="installedCapcity"><span>Installed Capcity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModified"><span>Last Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inventoryMasterName"><span>Inventory Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="supplierName"><span>Supplier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hospitalName"><span>Hospital</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventory of inventories ;trackBy: trackId">
                    <td><a [routerLink]="['/inventory', inventory.id, 'view']">{{ inventory.id }}</a></td>
                    <td>{{ inventory.stock }}</td>
                    <td>{{ inventory.capcity }}</td>
                    <td>{{ inventory.installedCapcity }}</td>
                    <td>{{ inventory.lastModified | date:'medium' }}</td>
                    <td>{{ inventory.lastModifiedBy }}</td>
                    <td>
                        <div *ngIf="inventory.inventoryMasterId">
                            <a [routerLink]="['/inventory-master', inventory.inventoryMasterId , 'view']" >{{ inventory.inventoryMasterName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inventory.supplierId">
                            <a [routerLink]="['/supplier', inventory.supplierId , 'view']" >{{ inventory.supplierName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inventory.hospitalId">
                            <a [routerLink]="['/hospital', inventory.hospitalId , 'view']" >{{ inventory.hospitalName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/inventory', inventory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/inventory', inventory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inventory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="inventories && inventories.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
