<div>
    <h2 id="page-heading">
        <span>Security Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-security-user" [routerLink]="['/security-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Security User
            </span>
        </button>
    </h2>

    <tvg-alert-error></tvg-alert-error>

    <tvg-alert></tvg-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="securityUsers?.length === 0">
        <span>No securityUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="securityUsers && securityUsers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="designation"><span>Designation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="login"><span>Login</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="passwordHash"><span>Password Hash</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imageUrl"><span>Image Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activated"><span>Activated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="langKey"><span>Lang Key</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activationKey"><span>Activation Key</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="resetKey"><span>Reset Key</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="resetDate"><span>Reset Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobileNo"><span>Mobile No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="oneTimePassword"><span>One Time Password</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="otpExpiryTime"><span>Otp Expiry Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModified"><span>Last Modified</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let securityUser of securityUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/security-user', securityUser.id, 'view']">{{ securityUser.id }}</a></td>
                    <td>{{ securityUser.firstName }}</td>
                    <td>{{ securityUser.lastName }}</td>
                    <td>{{ securityUser.designation }}</td>
                    <td>{{ securityUser.login }}</td>
                    <td>{{ securityUser.passwordHash }}</td>
                    <td>{{ securityUser.email }}</td>
                    <td>{{ securityUser.imageUrl }}</td>
                    <td>{{ securityUser.activated }}</td>
                    <td>{{ securityUser.langKey }}</td>
                    <td>{{ securityUser.activationKey }}</td>
                    <td>{{ securityUser.resetKey }}</td>
                    <td>{{ securityUser.resetDate | date:'medium' }}</td>
                    <td>{{ securityUser.mobileNo }}</td>
                    <td>{{ securityUser.oneTimePassword }}</td>
                    <td>{{ securityUser.otpExpiryTime | date:'medium' }}</td>
                    <td>{{ securityUser.lastModified | date:'medium' }}</td>
                    <td>{{ securityUser.lastModifiedBy }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/security-user', securityUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/security-user', securityUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(securityUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="securityUsers && securityUsers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
