<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="securityUser">
            <h2><span>Security User</span> {{ securityUser.id }}</h2>

            <hr>

            <tvg-alert-error></tvg-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ securityUser.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ securityUser.lastName }}</span>
                </dd>
                <dt><span>Designation</span></dt>
                <dd>
                    <span>{{ securityUser.designation }}</span>
                </dd>
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{ securityUser.login }}</span>
                </dd>
                <dt><span>Password Hash</span></dt>
                <dd>
                    <span>{{ securityUser.passwordHash }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ securityUser.email }}</span>
                </dd>
                <dt><span>Image Url</span></dt>
                <dd>
                    <span>{{ securityUser.imageUrl }}</span>
                </dd>
                <dt><span>Activated</span></dt>
                <dd>
                    <span>{{ securityUser.activated }}</span>
                </dd>
                <dt><span>Lang Key</span></dt>
                <dd>
                    <span>{{ securityUser.langKey }}</span>
                </dd>
                <dt><span>Activation Key</span></dt>
                <dd>
                    <span>{{ securityUser.activationKey }}</span>
                </dd>
                <dt><span>Reset Key</span></dt>
                <dd>
                    <span>{{ securityUser.resetKey }}</span>
                </dd>
                <dt><span>Reset Date</span></dt>
                <dd>
                    <span>{{ securityUser.resetDate }}</span>
                </dd>
                <dt><span>Mobile No</span></dt>
                <dd>
                    <span>{{ securityUser.mobileNo }}</span>
                </dd>
                <dt><span>One Time Password</span></dt>
                <dd>
                    <span>{{ securityUser.oneTimePassword }}</span>
                </dd>
                <dt><span>Otp Expiry Time</span></dt>
                <dd>
                    <span>{{ securityUser.otpExpiryTime }}</span>
                </dd>
                <dt><span>Last Modified</span></dt>
                <dd>
                    <span>{{ securityUser.lastModified }}</span>
                </dd>
                <dt><span>Last Modified By</span></dt>
                <dd>
                    <span>{{ securityUser.lastModifiedBy }}</span>
                </dd>
                <dt><span>Security Permission</span></dt>
                <dd>
                    <span *ngFor="let securityPermission of securityUser.securityPermissions; let last = last">
                        <a [routerLink]="['/security-permission', securityPermission?.id, 'view']">{{ securityPermission.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Security Role</span></dt>
                <dd>
                    <span *ngFor="let securityRole of securityUser.securityRoles; let last = last">
                        <a [routerLink]="['/security-role', securityRole?.id, 'view']">{{ securityRole.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/security-user', securityUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
