<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="tvg-bed-transactions-heading">Create or edit a Bed Transactions</h2>

            <div>
                <tvg-alert-error></tvg-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_occupied">Occupied</label>
                    <input type="number" class="form-control" name="occupied" id="field_occupied"
                           formControlName="occupied"/>
                    <div *ngIf="editForm.get('occupied')!.invalid && (editForm.get('occupied')!.dirty || editForm.get('occupied')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('occupied')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('occupied')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_onCylinder">On Cylinder</label>
                    <input type="number" class="form-control" name="onCylinder" id="field_onCylinder"
                           formControlName="onCylinder"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_onLMO">On LMO</label>
                    <input type="number" class="form-control" name="onLMO" id="field_onLMO"
                           formControlName="onLMO"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_onConcentrators">On Concentrators</label>
                    <input type="number" class="form-control" name="onConcentrators" id="field_onConcentrators"
                           formControlName="onConcentrators"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastModified">Last Modified</label>
                    <div class="d-flex">
                        <input id="field_lastModified" type="datetime-local" class="form-control" name="lastModified" formControlName="lastModified" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('lastModified')!.invalid && (editForm.get('lastModified')!.dirty || editForm.get('lastModified')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastModified')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lastModified')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                           formControlName="lastModifiedBy"/>
                    <div *ngIf="editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastModifiedBy')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_bedType">Bed Type</label>
                    <select class="form-control" id="field_bedType" name="bedType" formControlName="bedTypeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bedTypeOption.id" *ngFor="let bedTypeOption of bedtypes; trackBy: trackById">{{ bedTypeOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_hospital">Hospital</label>
                    <select class="form-control" id="field_hospital" name="hospital" formControlName="hospitalId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hospitalOption.id" *ngFor="let hospitalOption of hospitals; trackBy: trackById">{{ hospitalOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
